<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Users\Administrador.000\AppData\Local\Programs\Python\Python311\python.exe|C:\DV_APP_IIS\dv_importmoca\wfastcgi_venv.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <defaultDocument>
      <files>
        <add value="handler.py" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Detailed" />

  </system.webServer>
</configuration>
